* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    font-family: "Veranda", sans-serif, serif;
}

h1 {
    font-style: italic;
}

#centered {
    margin-top: 5px;
    text-align: center;
}

#centered_button {
    text-align: center;
}

html {
    background-color: #3ba5b8;
}

body {
    min-width: 0px;
    max-width: 760px;
    width: auto;
    margin: 32px auto;
    background-color: #05cece;
}

textarea, select, button {
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    overflow: scroll;
}

th {
    text-align: left;
    border: 1px solid;
}

td {
    text-align: left;
    border: 1px dotted;
}

hr {
    padding: 0;
}

header {
    text-align: center;
}

footer {
    text-align: right;
}

#main_div {
    text-align: center;
}

#select_div {
    display: inline-block;
    padding: 15px;
}

#radio_div {
    padding: 1px;
}