* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    font-family: "Veranda", sans-serif, serif;
}

h1 {
    font-style: italic;
}

#register_link {
    text-align: right;
}

#centered {
    margin-top: 5px;
    text-align: center;
}

#centered_button {
    text-align: center;
}

html {
    background-color: #3ba5b8;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    max-width: 760px;
    width: 100%;
    margin: 32px auto;
    background-color: #05cece;
}

textarea, select, button {
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#user_welcome {
    text-align: center;
}

#centered_form {
    text-align: center;
}

#table-wrapper {
    overflow-x: auto;
}

table {
    min-width: 762px;
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px solid;
}

td {
    text-align: left;
    border: 1px dotted;
}

hr {
    padding: 0;
}

header {
    text-align: center;
}

footer {
    text-align: right;
}

#main_div {
    text-align: center;
}

#select_div {
    display: inline-block;
    padding: 15px;
}

#radio_div {
    padding: 1px;
}

/********************************************************************
* Media Queries
********************************************************************/
@media screen and (min-width: 768px) {

    body {
        max-width: 1024px; 
        margin: auto; 
        border: 1px solid black; 
      /*  box-shadow: 5px 10px 8px #888888; */
    }
    #table_overflow {
        overflow-x: auto;
    }
    nav form section {
        display: inline-block;
    }
    nav form section select {
        font-size: 1.2rem;
    }
    nav form section div {
        margin: auto;
        text-align: center;
    }

}
